@import "~@fortawesome/fontawesome-free/css/all.min.css";

.App {
  text-align: center;
}

.control-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.control-buttons button {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.control-buttons button:hover {
  background-color: #3b4048;
}

.control-buttons i {
  pointer-events: none;
}

.exit-button {
  background-color: red !important;
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.exit-button:hover {
  background-color: darkred !important;
}
